.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.responsive-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.header-title {
  font-family: Roboto;
  font-size: 20px;
}

.nav-link {
  font-family: 'Roboto';
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .nav-link {
    display: flex;
    align-items: center;
  }
}

.nav-my-order-text {
  display: none;
  font-family: Roboto;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .nav-my-order-text {
    display: block;
  }
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-icon {
  font-size: 40px;
}

.cart-count-badge {
  position: absolute;
  top: -5px;
  right: -8px;
  background-color: #f05429;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  border-radius: 50%;
  padding: 2px 6px;
}
